
<h1 align=center style="line-height:300%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
سری دوم تمارین عملی درس داده کاوی
</font>
</h1>
<h3 align=center style="line-height:100%;font-family:vazir;color:#0099cc">
استاد درس: دکتر مریم امیر مزلقانی
</h3>
<h5 align=center style="font-size: 20px;line-height:100%;font-family:vazir;color:#0099cc">
طراح تمرین عملی: محمد چوپان  
    </h5>
<p align=center style="font-size: 16;line-height:100%;font-family:vazir;color:#0099cc">
    <a href="mailto:Aut.DataMining.Fall@gmail.com">Aut.DataMining.Fall@gmail.com</a>
</p>

<div dir="ltr">
<p style="font-size: 16;line-height:100%;font-family:vazir;color:red;dir:rtl">
لطفا خواسته های تمرین را در بخش خودش انجام دهید.
دقت کنید نتایج مقایسه ها حتما باید در پاسخ شما وجود داشته باشد.
</p>
</div>

# HW2

## Imports

In [1]:
## TODO
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

## Load data

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این مرحله همانند تمرین قبلی داده ها را درون یک دیتا فریم pandas ذخیره میکنید
</font>
</p>
</div>

In [2]:
## TODO
df = pd.read_excel('worldcities.xlsx')
df

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id
0,A Coruña,A Coruna,43.3667,-8.3833,Spain,ES,ESP,Galicia,minor,245468.0,1.724417e+09
1,A Yun Pa,A Yun Pa,13.3939,108.4408,Vietnam,VN,VNM,Gia Lai,minor,53720.0,1.704946e+09
2,Aabenraa,Aabenraa,55.0444,9.4181,Denmark,DK,DNK,Syddanmark,minor,16401.0,1.208000e+09
3,Aachen,Aachen,50.7756,6.0836,Germany,DE,DEU,North Rhine-Westphalia,minor,249070.0,1.276806e+09
4,Aadorf,Aadorf,47.4939,8.8975,Switzerland,CH,CHE,Thurgau,NaN,9036.0,1.756023e+09
...,...,...,...,...,...,...,...,...,...,...,...
44662,Żychlin,Zychlin,52.2453,19.6236,Poland,PL,POL,Łódzkie,NaN,9021.0,1.616509e+09
44663,Żyrardów,Zyrardow,52.0500,20.4333,Poland,PL,POL,Mazowieckie,minor,39374.0,1.616146e+09
44664,Zyryanka,Zyryanka,65.7360,150.8900,Russia,RU,RUS,Sakha (Yakutiya),NaN,3627.0,1.643202e+09
44665,Zyryanovsk,Zyryanovsk,49.7453,84.2548,Kazakhstan,KZ,KAZ,NaN,minor,49658.0,1.398361e+09
44666,Żywiec,Zywiec,49.6892,19.2058,Poland,PL,POL,Śląskie,minor,30334.0,1.616870e+09

 ## Add column

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این مرحله با توجه به ستون جمعیت یک ستون جدید تحت عنوان Population Level   اضافه کنید به طوری که به 4 دسته زیر  بر اساس وضعیت هر داده اختصاص داده می شودند.
</br>
    <div dir="ltr">
Low: 0-25%
    </br>
Mid: 25-50%
    </br>
High: 50-70%
    </br>
Over: 70-100%
    </div>
</font>
</p>
</div>

In [3]:
## TODO
df['population_level'] = pd.qcut(df['population'], q=[0, 0.25, 0.5, 0.70, 1.0], labels=['Low', 'Mid', 'High', 'Over'])
df

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id,population_level
0,A Coruña,A Coruna,43.3667,-8.3833,Spain,ES,ESP,Galicia,minor,245468.0,1.724417e+09,Over
1,A Yun Pa,A Yun Pa,13.3939,108.4408,Vietnam,VN,VNM,Gia Lai,minor,53720.0,1.704946e+09,Over
2,Aabenraa,Aabenraa,55.0444,9.4181,Denmark,DK,DNK,Syddanmark,minor,16401.0,1.208000e+09,Mid
3,Aachen,Aachen,50.7756,6.0836,Germany,DE,DEU,North Rhine-Westphalia,minor,249070.0,1.276806e+09,Over
4,Aadorf,Aadorf,47.4939,8.8975,Switzerland,CH,CHE,Thurgau,NaN,9036.0,1.756023e+09,Low
...,...,...,...,...,...,...,...,...,...,...,...,...
44662,Żychlin,Zychlin,52.2453,19.6236,Poland,PL,POL,Łódzkie,NaN,9021.0,1.616509e+09,Low
44663,Żyrardów,Zyrardow,52.0500,20.4333,Poland,PL,POL,Mazowieckie,minor,39374.0,1.616146e+09,Over
44664,Zyryanka,Zyryanka,65.7360,150.8900,Russia,RU,RUS,Sakha (Yakutiya),NaN,3627.0,1.643202e+09,Low
44665,Zyryanovsk,Zyryanovsk,49.7453,84.2548,Kazakhstan,KZ,KAZ,NaN,minor,49658.0,1.398361e+09,Over
44666,Żywiec,Zywiec,49.6892,19.2058,Poland,PL,POL,Śląskie,minor,30334.0,1.616870e+09,High

## Preproccess

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    در این بخش باید ستون های خالی داده ها راحذف کرده و در نهایت تمامی ستون ها را به داده های عددی تبدیل کنید به جز ستون اضافه شده
</font>
</p>
</div>

In [4]:
# TODO
df = df.dropna()
df_encoded = df.copy()

# Get the non-numeric column names
non_numeric_cols = df_encoded.select_dtypes(exclude=['number']).columns.tolist()
non_numeric_cols.remove('population_level')  # Exclude 'population_level'

# Apply label encoding to non-numeric columns
label_encoder = LabelEncoder()
for col in non_numeric_cols:
    df_encoded[col] = label_encoder.fit_transform(df_encoded[col])
df_encoded

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id,population_level
0,0,0,43.3667,-8.3833,163,54,54,936,1,245468.0,1.724417e+09,Over
1,1,1,13.3939,108.4408,193,189,189,966,1,53720.0,1.704946e+09,Over
2,2,2,55.0444,9.4181,47,46,48,2866,1,16401.0,1.208000e+09,Mid
3,3,3,50.7756,6.0836,66,44,45,2109,1,249070.0,1.276806e+09,Over
5,4,4,57.0500,9.9167,47,46,48,2096,0,143598.0,1.208789e+09,Over
...,...,...,...,...,...,...,...,...,...,...,...,...
44656,10097,10357,50.7167,12.5000,66,44,45,2665,1,89540.0,1.276684e+09,Over
44658,10098,10358,51.8167,4.6500,121,130,129,3343,1,44775.0,1.528524e+09,Over
44660,10099,10359,52.5167,6.1000,121,130,129,2233,0,129840.0,1.528690e+09,Over
44663,10353,10360,52.0500,20.4333,137,141,140,1850,1,39374.0,1.616146e+09,Over
44666,10354,10361,49.6892,19.2058,137,141,140,3396,1,30334.0,1.616870e+09,High

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
 حال باید داده های به دست آمده از قسمت قبلی را نرمال سازی کنید.
</font>
</p>
</div>

In [5]:
# TODO
df_standardized = df_encoded.copy()


numerical_cols = df_standardized.select_dtypes(include=['number']).columns.tolist()


scaler = StandardScaler()
df_standardized[numerical_cols] = scaler.fit_transform(df_standardized[numerical_cols])
df_standardized

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id,population_level
0,-1.738680,-1.738652,0.692155,-0.263012,1.135301,-0.819160,-0.799945,-0.775396,0.585244,-0.026223,1.120400,Over
1,-1.738346,-1.738317,-0.662003,1.534084,1.671805,1.591916,1.595087,-0.745823,0.585244,-0.168319,1.042459,Over
2,-1.738012,-1.737983,1.219748,0.010825,-0.939182,-0.962039,-0.906391,1.127167,0.585244,-0.195974,-0.946714,Mid
3,-1.737678,-1.737649,1.026885,-0.040469,-0.599396,-0.997758,-0.959614,0.380929,0.585244,-0.023553,-0.671300,Over
5,-1.737343,-1.737314,1.310360,0.018495,-0.939182,-0.962039,-0.906391,0.368113,-1.436748,-0.101714,-0.943555,Over
...,...,...,...,...,...,...,...,...,...,...,...,...
44656,1.636120,1.724182,1.024224,0.058234,-0.599396,-0.997758,-0.959614,0.929025,0.585244,-0.141774,-0.671788,Over
44658,1.636454,1.724517,1.073922,-0.062522,0.384195,0.538186,0.530628,1.597386,0.585244,-0.174947,0.336279,Over
44660,1.636788,1.724851,1.105547,-0.040217,0.384195,0.538186,0.530628,0.503166,-1.436748,-0.111910,0.336943,Over
44663,1.721684,1.725185,1.084462,0.180271,0.670331,0.734644,0.725779,0.125611,0.585244,-0.178950,0.687010,Over
44666,1.722019,1.725520,0.977802,0.161389,0.670331,0.734644,0.725779,1.649633,0.585244,-0.185649,0.689910,High

## Split

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
داده ها را به دو بخش تست و آموزش با نسبت 80 به 20 تقسیم کنید.
</font>
</p>
</div>

In [6]:
# TODO
train_df, test_df = train_test_split(df_standardized, test_size=0.2, random_state=42)

## Regression

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
برای این قسمت باید ستون Population  را به عنوان برچسب درنظر گرفته و از بقیه ستون هابه عنوان فیچر استفاده کنید
</font
</p>
</div>

<div dir="rtl">
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
باید از رگرسیون خطی
،درجه 1 و درجه 2 استفاده کرده و در هر مورد دقت و خطای میانگین مربعات را بدست آورده و نتایج را باهم مقایسه کنید.</font
</p>
    
</div>

In [7]:
train_df

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id,population_level
32234,0.714291,0.692387,0.400132,0.645220,-0.331144,-0.301225,-0.303198,0.258691,0.585244,-0.181452,-0.319928,High
40366,1.280490,1.364090,1.354785,0.096179,1.224718,0.984682,1.169303,-0.434315,0.585244,-0.197607,1.233698,Mid
11948,-0.888045,-0.852966,-2.459873,-0.974472,-1.672405,-1.658572,-1.669253,0.170957,0.585244,-0.165649,-1.650982,Over
39157,1.163841,1.246400,-0.442606,-1.591841,0.223244,0.413168,0.211291,1.404173,0.585244,-0.196557,0.159669,Mid
34048,0.761419,0.821110,0.598344,0.424865,1.457203,1.377598,1.399936,0.865935,-1.436748,0.781712,1.391596,Over
...,...,...,...,...,...,...,...,...,...,...,...,...
24500,0.071218,0.124331,-0.299274,0.478546,0.920699,0.913243,0.903189,0.033933,-1.436748,1.033413,0.951289,Over
22024,-0.105260,-0.052539,-0.143983,-1.665648,0.223244,0.413168,0.211291,0.418388,0.585244,-0.165346,0.160078,Over
22773,-0.044763,0.012325,-1.285517,0.345241,1.510854,1.484757,1.470900,-0.011413,-1.436748,-0.196049,1.426531,Mid
3695,-1.475301,-1.457466,-0.540962,1.446331,1.332019,1.270439,1.275749,-0.302220,0.585244,-0.186702,1.278947,High
31456,0.562547,0.624849,-0.577454,-1.422747,-0.420561,-0.461964,-0.427384,-0.714278,-1.436748,-0.172907,-0.417905,Over

In [8]:
# TODO
X_train = train_df.drop(columns=['population', 'population_level'])
X_test = test_df.drop(columns=['population', 'population_level'])
y_train = train_df['population'] 
y_test = test_df['population']


linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)

y_pred = linear_reg.predict(X_test)
mse_first_order = mean_squared_error(y_test, y_pred)


from sklearn.preprocessing import PolynomialFeatures


poly = PolynomialFeatures(degree=2)
X_poly_train = poly.fit_transform(X_train)
X_poly_test = poly.fit_transform(X_test)


linear_reg_2nd_order = LinearRegression()
linear_reg_2nd_order.fit(X_poly_train, y_train)


y_pred_2nd_order = linear_reg_2nd_order.predict(X_poly_test)

mse_2nd_order = mean_squared_error(y_test, y_pred_2nd_order)
print(f'the first order loss is :{mse_first_order}')
print(f'the second orser loss is: {mse_2nd_order}')

the first order loss is :1.537754067448246
the second orser loss is: 1.3605893725815312

## Classification

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
برای این قسمت باید ستون Population Level  را به عنوان برچسب درنظر گرفته و از بقیه ستون هابه عنوان فیچر استفاده کنید
همچنین ستون Population را نیز حذف کنید
    </font>
</p>
</div>

<div dir="rtl">
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
در هر فسمت باید الگوریتم مشخص شده را پیاده سازی کرده و درنهایت نتیجه را با بقیه قسمت ها مقایسه کنید.
    
</p>
    
</div>

### Decision Tree (Entropy)

In [9]:
train_df

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id,population_level
32234,0.714291,0.692387,0.400132,0.645220,-0.331144,-0.301225,-0.303198,0.258691,0.585244,-0.181452,-0.319928,High
40366,1.280490,1.364090,1.354785,0.096179,1.224718,0.984682,1.169303,-0.434315,0.585244,-0.197607,1.233698,Mid
11948,-0.888045,-0.852966,-2.459873,-0.974472,-1.672405,-1.658572,-1.669253,0.170957,0.585244,-0.165649,-1.650982,Over
39157,1.163841,1.246400,-0.442606,-1.591841,0.223244,0.413168,0.211291,1.404173,0.585244,-0.196557,0.159669,Mid
34048,0.761419,0.821110,0.598344,0.424865,1.457203,1.377598,1.399936,0.865935,-1.436748,0.781712,1.391596,Over
...,...,...,...,...,...,...,...,...,...,...,...,...
24500,0.071218,0.124331,-0.299274,0.478546,0.920699,0.913243,0.903189,0.033933,-1.436748,1.033413,0.951289,Over
22024,-0.105260,-0.052539,-0.143983,-1.665648,0.223244,0.413168,0.211291,0.418388,0.585244,-0.165346,0.160078,Over
22773,-0.044763,0.012325,-1.285517,0.345241,1.510854,1.484757,1.470900,-0.011413,-1.436748,-0.196049,1.426531,Mid
3695,-1.475301,-1.457466,-0.540962,1.446331,1.332019,1.270439,1.275749,-0.302220,0.585244,-0.186702,1.278947,High
31456,0.562547,0.624849,-0.577454,-1.422747,-0.420561,-0.461964,-0.427384,-0.714278,-1.436748,-0.172907,-0.417905,Over

In [10]:
# TODO
y_train = train_df['population_level']
y_test = test_df['population_level']

dt_entropy_model = DecisionTreeClassifier(criterion='entropy', random_state=42)
dt_entropy_model.fit(X_train, y_train)

y_pred_entropy = dt_entropy_model.predict(X_test)
accuracy_entropy = accuracy_score(y_test, y_pred_entropy)
conf_matrix_entropy = confusion_matrix(y_test, y_pred_entropy)
classification_report_entropy = classification_report(y_test, y_pred_entropy)


print("Decision Tree using Entropy:")
print(f"Accuracy: {accuracy_entropy}")
print("Confusion Matrix:")
print(conf_matrix_entropy)
print("Classification Report:")
print(classification_report_entropy)

Decision Tree using Entropy:
Accuracy: 0.5167597765363129
Confusion Matrix:
[[116  55  79 140]
 [ 68 141  82  81]
 [ 85  61  90  96]
 [120  74  97 763]]
Classification Report:
              precision    recall  f1-score   support

        High       0.30      0.30      0.30       390
         Low       0.43      0.38      0.40       372
         Mid       0.26      0.27      0.26       332
        Over       0.71      0.72      0.72      1054

    accuracy                           0.52      2148
   macro avg       0.42      0.42      0.42      2148
weighted avg       0.51      0.52      0.52      2148

### Random Forest (Entropy)

In [11]:
# TODO
rf_entropy_model = RandomForestClassifier(criterion='entropy', random_state=42)
rf_entropy_model.fit(X_train, y_train)


y_pred_rf_entropy = rf_entropy_model.predict(X_test)


accuracy_rf_entropy = accuracy_score(y_test, y_pred_rf_entropy)
conf_matrix_rf_entropy = confusion_matrix(y_test, y_pred_rf_entropy)
classification_report_rf_entropy = classification_report(y_test, y_pred_rf_entropy)


print("Random Forest using Entropy:")
print(f"Accuracy: {accuracy_rf_entropy}")
print("Confusion Matrix:")
print(conf_matrix_rf_entropy)
print("Classification Report:")
print(classification_report_rf_entropy)

Random Forest using Entropy:
Accuracy: 0.5414338919925512
Confusion Matrix:
[[ 95  37  74 184]
 [ 59 144  84  85]
 [ 64  49  80 139]
 [106  35  69 844]]
Classification Report:
              precision    recall  f1-score   support

        High       0.29      0.24      0.27       390
         Low       0.54      0.39      0.45       372
         Mid       0.26      0.24      0.25       332
        Over       0.67      0.80      0.73      1054

    accuracy                           0.54      2148
   macro avg       0.44      0.42      0.43      2148
weighted avg       0.52      0.54      0.52      2148

### KNN K=2

In [12]:
# TODO
knn_model = KNeighborsClassifier(n_neighbors=2)
knn_model.fit(X_train, y_train)


y_pred_knn = knn_model.predict(X_test)


accuracy_knn = accuracy_score(y_test, y_pred_knn)
conf_matrix_knn = confusion_matrix(y_test, y_pred_knn)
classification_report_knn = classification_report(y_test, y_pred_knn)


print("K-Nearest Neighbors (KNN) with K=2:")
print(f"Accuracy: {accuracy_knn}")
print("Confusion Matrix:")
print(conf_matrix_knn)
print("Classification Report:")
print(classification_report_knn)

K-Nearest Neighbors (KNN) with K=2:
Accuracy: 0.4543761638733706
Confusion Matrix:
[[174  75  63  78]
 [116 166  53  37]
 [140  80  64  48]
 [250 126 106 572]]
Classification Report:
              precision    recall  f1-score   support

        High       0.26      0.45      0.33       390
         Low       0.37      0.45      0.41       372
         Mid       0.22      0.19      0.21       332
        Over       0.78      0.54      0.64      1054

    accuracy                           0.45      2148
   macro avg       0.41      0.41      0.39      2148
weighted avg       0.53      0.45      0.48      2148

### KNN K=3

In [13]:
# TODO
knn_model = KNeighborsClassifier(n_neighbors=3)
knn_model.fit(X_train, y_train)


y_pred_knn = knn_model.predict(X_test)


accuracy_knn = accuracy_score(y_test, y_pred_knn)
conf_matrix_knn = confusion_matrix(y_test, y_pred_knn)
classification_report_knn = classification_report(y_test, y_pred_knn)


print("K-Nearest Neighbors (KNN) with K=3:")
print(f"Accuracy: {accuracy_knn}")
print("Confusion Matrix:")
print(conf_matrix_knn)
print("Classification Report:")
print(classification_report_knn)

K-Nearest Neighbors (KNN) with K=3:
Accuracy: 0.5018621973929237
Confusion Matrix:
[[154  47  48 141]
 [102 135  58  77]
 [124  61  51  96]
 [193  75  48 738]]
Classification Report:
              precision    recall  f1-score   support

        High       0.27      0.39      0.32       390
         Low       0.42      0.36      0.39       372
         Mid       0.25      0.15      0.19       332
        Over       0.70      0.70      0.70      1054

    accuracy                           0.50      2148
   macro avg       0.41      0.40      0.40      2148
weighted avg       0.50      0.50      0.50      2148

### KNN K=5

In [14]:
# TODO
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X_train, y_train)


y_pred_knn = knn_model.predict(X_test)


accuracy_knn = accuracy_score(y_test, y_pred_knn)
conf_matrix_knn = confusion_matrix(y_test, y_pred_knn)
classification_report_knn = classification_report(y_test, y_pred_knn)


print("K-Nearest Neighbors (KNN) with K=5:")
print(f"Accuracy: {accuracy_knn}")
print("Confusion Matrix:")
print(conf_matrix_knn)
print("Classification Report:")
print(classification_report_knn)

K-Nearest Neighbors (KNN) with K=5:
Accuracy: 0.50512104283054
Confusion Matrix:
[[131  54  61 144]
 [ 75 138  67  92]
 [100  50  65 117]
 [145  81  77 751]]
Classification Report:
              precision    recall  f1-score   support

        High       0.29      0.34      0.31       390
         Low       0.43      0.37      0.40       372
         Mid       0.24      0.20      0.22       332
        Over       0.68      0.71      0.70      1054

    accuracy                           0.51      2148
   macro avg       0.41      0.40      0.41      2148
weighted avg       0.50      0.51      0.50      2148

### SVM (Linear)

In [15]:
# TODO
svm_linear_model = SVC(kernel='linear', random_state=42)
svm_linear_model.fit(X_train, y_train)


y_pred_svm_linear = svm_linear_model.predict(X_test)


accuracy_svm_linear = accuracy_score(y_test, y_pred_svm_linear)
conf_matrix_svm_linear = confusion_matrix(y_test, y_pred_svm_linear)
classification_report_svm_linear = classification_report(y_test, y_pred_svm_linear)


print("SVM with Linear Kernel:")
print(f"Accuracy: {accuracy_svm_linear}")
print("Confusion Matrix:")
print(conf_matrix_svm_linear)
print("Classification Report:")
print(classification_report_svm_linear)

SVM with Linear Kernel:
Accuracy: 0.49068901303538176
Confusion Matrix:
[[   0    0    0  390]
 [   0    0    0  372]
 [   0    0    0  332]
 [   0    0    0 1054]]
Classification Report:
              precision    recall  f1-score   support

        High       0.00      0.00      0.00       390
         Low       0.00      0.00      0.00       372
         Mid       0.00      0.00      0.00       332
        Over       0.49      1.00      0.66      1054

    accuracy                           0.49      2148
   macro avg       0.12      0.25      0.16      2148
weighted avg       0.24      0.49      0.32      2148

/usr/lib/python3/dist-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### SVM (Non-linear)

In [17]:
# TODO
# TODO
svm_linear_model = SVC(kernel='rbf', random_state=42)
svm_linear_model.fit(X_train, y_train)


y_pred_svm_linear = svm_linear_model.predict(X_test)


accuracy_svm_linear = accuracy_score(y_test, y_pred_svm_linear)
conf_matrix_svm_linear = confusion_matrix(y_test, y_pred_svm_linear)
classification_report_svm_linear = classification_report(y_test, y_pred_svm_linear)


print("SVM with Linear Kernel:")
print(f"Accuracy: {accuracy_svm_linear}")
print("Confusion Matrix:")
print(conf_matrix_svm_linear)
print("Classification Report:")
print(classification_report_svm_linear)

SVM with Linear Kernel:
Accuracy: 0.5093109869646183
Confusion Matrix:
[[  2  13  10 365]
 [  0  87   6 279]
 [  0  12  12 308]
 [  2  47  12 993]]
Classification Report:
              precision    recall  f1-score   support

        High       0.50      0.01      0.01       390
         Low       0.55      0.23      0.33       372
         Mid       0.30      0.04      0.06       332
        Over       0.51      0.94      0.66      1054

    accuracy                           0.51      2148
   macro avg       0.46      0.30      0.27      2148
weighted avg       0.48      0.51      0.39      2148